anthropic
audio-recorder-streamlit
faiss-cpu
fpdf2
google-cloud-storage
google-generativeai
langchain
langchain-community
langchain-experimental
langchain-google-genai
langdetect
matplotlib
openai
openpyxl
pandas
Pillow
plotly
python-dotenv
reportlab
requests
seaborn
streamlit
streamlit_ace
tabulate
langchain
langchain-openai
openai
pygwalker
